@model CommentViewModel

@{

}

<div>
    <form asp-controller="Home" asp-method="Post" asp-action="Comment">
        <input asp-for="PostId" type="hidden"/>
        <input asp-for="MainCommentId" type="hidden"/>
        <textarea asp-for="Message"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>